<!DOCTYPE html>
<html>

<head>
    <style>
        $style_sheet
    </style>
    <script type="text/javascript">
        // set the Pyodide files URL (packages.json, pyodide.asm.data etc)
        window.languagePluginUrl = 'https://cdn.jsdelivr.net/pyodide/v0.17.0a2/full/';
    </script>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.17.0a2/full/pyodide.js"></script>
</head>

<body>
    <script type="text/javascript">
        languagePluginLoader.then(function () {
            pyodide.runPython(`$python_code`);
        });
    </script>
    <div id="content"></div>
    <div id="loading-icon" class="lds-grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</body>

</html>
